openapi: 3.2.0
info:
  title: Urantia Papers Embeddings API
  version: 1.0.0
  description: 'An API and MCP server for the Urantia Papers. Structured access to all 197 papers and more than 14,500 paragraphs, with full-text and semantic search, named entities, Bible cross-references, and audio. No key needed. Docs: https://docs.urantia.dev'
  termsOfService: https://docs.urantia.dev/terms-of-service
  contact:
    name: urantia.dev
    url: https://docs.urantia.dev/help
    email: kelson@urantia.dev
  license:
    name: MIT
    url: https://github.com/urantia-hub/urantia-dev-api/blob/main/LICENSE
servers:
- url: https://api.urantia.dev
  description: Production
- url: http://localhost:3000
  description: Local development
security: []
tags:
- name: Embeddings
paths:
  /embeddings/export:
    get:
      operationId: exportEmbeddings
      tags:
      - Embeddings
      summary: Bulk export embedding vectors
      description: 'Export embedding vectors for all paragraphs in a paper. The `paperId` query parameter is required.


        Returns JSONL (default) or JSON. Each line/item contains `{ ref, embedding }`. A typical paper is 50-200 paragraphs (~1-5 MB).'
      parameters:
      - schema:
          type: string
          enum:
          - jsonl
          - json
          default: jsonl
        required: false
        name: format
        in: query
      - schema:
          type: string
        required: true
        name: paperId
        in: query
        example: '2'
      - schema:
          type: string
          enum:
          - small
          - large
          default: large
        required: false
        name: model
        in: query
      responses:
        '200':
          description: Embedding vectors (JSONL or JSON)
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
  /embeddings/{ref}:
    get:
      operationId: getEmbedding
      tags:
      - Embeddings
      summary: Get the embedding vector for a paragraph
      description: 'Returns the embedding vector for a single paragraph.


        Use `?model=large` (default) for the 3072-dimensional `text-embedding-3-large` vector — the canonical embedding used by the cross-references feature. Use `?model=small` for the 1536-dimensional `text-embedding-3-small` vector that powers `/search/semantic`.


        The response includes `model` and `dimensions` fields so consumers can detect mismatches if they store vectors locally and compare against new responses. The `X-Embedding-Model` response header carries the same signal for byte-streaming clients.'
      parameters:
      - schema:
          type: string
        required: true
        name: ref
        in: path
        example: '2:5.1'
      - schema:
          type: string
          enum:
          - small
          - large
          default: large
        required: false
        name: model
        in: query
      responses:
        '200':
          description: Embedding vector
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      standardReferenceId:
                        type: string
                      model:
                        type: string
                      dimensions:
                        type: integer
                      embedding:
                        type: array
                        items:
                          type: number
                    required:
                    - standardReferenceId
                    - model
                    - dimensions
                    - embedding
                required:
                - data
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '404':
          description: Paragraph or embedding not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
components:
  schemas:
    ProblemDetails:
      type: object
      description: An RFC 9457 problem details object. Every error response uses it.
      properties:
        type:
          type: string
          format: uri
          description: A URI that names the error type.
        title:
          type: string
          description: The short name of the status.
        status:
          type: integer
          description: The HTTP status code.
        detail:
          type: string
          description: What went wrong in this request.
      required:
      - type
      - title
      - status
      - detail
      example:
        type: https://urantia.dev/errors/not-found
        title: Not Found
        status: 404
        detail: Paragraph not found
  headers:
    X-RateLimit-Reset:
      description: The time the window resets, in Unix seconds.
      schema:
        type: integer
      example: 1791152213
    X-RateLimit-Limit:
      description: The number of requests allowed in the current window.
      schema:
        type: integer
      example: 200
    X-RateLimit-Remaining:
      description: The number of requests left in the current window.
      schema:
        type: integer
      example: 199
