openapi: 3.2.0
info:
  title: Urantia Papers Table of Contents API
  version: 1.0.0
  description: 'An API and MCP server for the Urantia Papers. Structured access to all 197 papers and more than 14,500 paragraphs, with full-text and semantic search, named entities, Bible cross-references, and audio. No key needed. Docs: https://docs.urantia.dev'
  termsOfService: https://docs.urantia.dev/terms-of-service
  contact:
    name: urantia.dev
    url: https://docs.urantia.dev/help
    email: kelson@urantia.dev
  license:
    name: MIT
    url: https://github.com/urantia-hub/urantia-dev-api/blob/main/LICENSE
servers:
- url: https://api.urantia.dev
  description: Production
- url: http://localhost:3000
  description: Local development
security: []
tags:
- name: Table of Contents
paths:
  /toc:
    get:
      operationId: getToc
      tags:
      - Table of Contents
      summary: Get the full table of contents
      description: Returns the complete table of contents with parts and their papers. This is typically the first endpoint an AI agent should call to understand the book structure.
      responses:
        '200':
          description: Table of contents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      parts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            title:
                              type: string
                            sponsorship:
                              type:
                              - string
                              - 'null'
                            papers:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  title:
                                    type: string
                                  labels:
                                    type:
                                    - array
                                    - 'null'
                                    items:
                                      type: string
                                required:
                                - id
                                - title
                                - labels
                          required:
                          - id
                          - title
                          - sponsorship
                          - papers
                    required:
                    - parts
                required:
                - data
              example:
                data:
                  parts:
                  - id: '0'
                    title: Foreword
                    sponsorship: null
                    papers:
                    - id: '0'
                      title: Foreword
                      labels:
                      - Theology
                      - Cosmology
                  - id: '1'
                    title: The Central and Superuniverses
                    sponsorship: Sponsored by a Uversa Corps of Superuniverse Personalities acting by authority of the Orvonton Ancients of Days
                    papers:
                    - id: '1'
                      title: The Universal Father
                      labels:
                      - Spirituality
                      - Theology
                    - id: '2'
                      title: The Nature of God
                      labels:
                      - Spirituality
                      - Theology
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
components:
  schemas:
    ProblemDetails:
      type: object
      description: An RFC 9457 problem details object. Every error response uses it.
      properties:
        type:
          type: string
          format: uri
          description: A URI that names the error type.
        title:
          type: string
          description: The short name of the status.
        status:
          type: integer
          description: The HTTP status code.
        detail:
          type: string
          description: What went wrong in this request.
      required:
      - type
      - title
      - status
      - detail
      example:
        type: https://urantia.dev/errors/not-found
        title: Not Found
        status: 404
        detail: Paragraph not found
  headers:
    X-RateLimit-Reset:
      description: The time the window resets, in Unix seconds.
      schema:
        type: integer
      example: 1791152213
    X-RateLimit-Limit:
      description: The number of requests allowed in the current window.
      schema:
        type: integer
      example: 200
    X-RateLimit-Remaining:
      description: The number of requests left in the current window.
      schema:
        type: integer
      example: 199
