openapi: 3.2.0
info:
  title: Urantia Papers Audio API
  version: 1.0.0
  description: 'An API and MCP server for the Urantia Papers. Structured access to all 197 papers and more than 14,500 paragraphs, with full-text and semantic search, named entities, Bible cross-references, and audio. No key needed. Docs: https://docs.urantia.dev'
  termsOfService: https://docs.urantia.dev/terms-of-service
  contact:
    name: urantia.dev
    url: https://docs.urantia.dev/help
    email: kelson@urantia.dev
  license:
    name: MIT
    url: https://github.com/urantia-hub/urantia-dev-api/blob/main/LICENSE
servers:
- url: https://api.urantia.dev
  description: Production
- url: http://localhost:3000
  description: Local development
security: []
tags:
- name: Audio
paths:
  /audio/{ref}:
    get:
      operationId: getAudio
      tags:
      - Audio
      summary: Get audio URL for a paragraph
      description: Returns the audio file URL for a given paragraph. Accepts any paragraph reference format (globalId, standardReferenceId, or paperSectionParagraphId).
      parameters:
      - schema:
          type: string
        required: true
        name: ref
        in: path
        example: '2:5.1'
      responses:
        '200':
          description: Audio information
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      audio:
                        type:
                        - object
                        - 'null'
                        additionalProperties:
                          type: object
                          additionalProperties:
                            type: object
                            properties:
                              format:
                                type: string
                              url:
                                type: string
                              duration:
                                type: number
                              bitrate:
                                type: number
                              fileSize:
                                type: number
                            required:
                            - format
                            - url
                    required:
                    - id
                    - audio
                required:
                - data
              example:
                data:
                  id: 1:2.5.1
                  audio:
                    tts-1-hd:
                      nova:
                        url: https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.5.1.mp3
                        format: mp3
                        bitrate: 160
                        duration: 18
                        fileSize: 360960
                      onyx:
                        url: https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.5.1.mp3
                        format: mp3
                        bitrate: 160
                        duration: 18.4
                        fileSize: 367680
                    gpt-4o-mini-tts:
                      cedar:
                        url: https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.5.1.mp3
                        format: mp3
                        bitrate: 192
                        duration: 18.1
                        fileSize: 434511
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '404':
          description: Paragraph not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        '429':
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '500':
          description: Internal server error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
components:
  schemas:
    ProblemDetails:
      type: object
      description: An RFC 9457 problem details object. Every error response uses it.
      properties:
        type:
          type: string
          format: uri
          description: A URI that names the error type.
        title:
          type: string
          description: The short name of the status.
        status:
          type: integer
          description: The HTTP status code.
        detail:
          type: string
          description: What went wrong in this request.
      required:
      - type
      - title
      - status
      - detail
      example:
        type: https://urantia.dev/errors/not-found
        title: Not Found
        status: 404
        detail: Paragraph not found
  headers:
    X-RateLimit-Reset:
      description: The time the window resets, in Unix seconds.
      schema:
        type: integer
      example: 1791152213
    X-RateLimit-Limit:
      description: The number of requests allowed in the current window.
      schema:
        type: integer
      example: 200
    X-RateLimit-Remaining:
      description: The number of requests left in the current window.
      schema:
        type: integer
      example: 199
