{"openapi":"3.1.0","info":{"title":"Urantia Papers API","version":"1.0.0","description":"An API and MCP server for the Urantia Papers. Structured access to all 197 papers and more than 14,500 paragraphs, with full-text and semantic search, named entities, Bible cross-references, and audio. No key needed. Docs: https://docs.urantia.dev","termsOfService":"https://docs.urantia.dev/terms-of-service","contact":{"name":"urantia.dev","url":"https://docs.urantia.dev/help","email":"kelson@urantia.dev"},"license":{"name":"MIT","url":"https://github.com/urantia-hub/urantia-dev-api/blob/main/LICENSE"}},"servers":[{"url":"https://api.urantia.dev","description":"Production"},{"url":"http://localhost:3000","description":"Local development"}],"components":{"schemas":{"ProblemDetails":{"type":"object","description":"An RFC 9457 problem details object. Every error response uses it.","properties":{"type":{"type":"string","format":"uri","description":"A URI that names the error type."},"title":{"type":"string","description":"The short name of the status."},"status":{"type":"integer","description":"The HTTP status code."},"detail":{"type":"string","description":"What went wrong in this request."}},"required":["type","title","status","detail"],"example":{"type":"https://urantia.dev/errors/not-found","title":"Not Found","status":404,"detail":"Paragraph not found"}}},"parameters":{},"headers":{"X-RateLimit-Limit":{"description":"The number of requests allowed in the current window.","schema":{"type":"integer"},"example":200},"X-RateLimit-Remaining":{"description":"The number of requests left in the current window.","schema":{"type":"integer"},"example":199},"X-RateLimit-Reset":{"description":"The time the window resets, in Unix seconds.","schema":{"type":"integer"},"example":1791152213}}},"paths":{"/toc":{"get":{"operationId":"getToc","tags":["Table of Contents"],"summary":"Get the full table of contents","description":"Returns the complete table of contents with parts and their papers. This is typically the first endpoint an AI agent should call to understand the book structure.","responses":{"200":{"description":"Table of contents","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"parts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"sponsorship":{"type":["string","null"]},"papers":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}}},"required":["id","title","labels"]}}},"required":["id","title","sponsorship","papers"]}}},"required":["parts"]}},"required":["data"]},"example":{"data":{"parts":[{"id":"0","title":"Foreword","sponsorship":null,"papers":[{"id":"0","title":"Foreword","labels":["Theology","Cosmology"]}]},{"id":"1","title":"The Central and Superuniverses","sponsorship":"Sponsored by a Uversa Corps of Superuniverse Personalities acting by authority of the Orvonton Ancients of Days","papers":[{"id":"1","title":"The Universal Father","labels":["Spirituality","Theology"]},{"id":"2","title":"The Nature of God","labels":["Spirituality","Theology"]}]}]}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/papers":{"get":{"operationId":"listPapers","tags":["Papers"],"summary":"List all 197 papers","description":"Returns metadata for all papers in the Urantia Book, ordered by paper number.\n\nUse `?include=topEntities` to attach a per-paper aggregate of the most-referenced named entities (beings, places, concepts, etc.) sorted by citation frequency.","parameters":[{"schema":{"type":"string"},"required":false,"name":"include","in":"query"},{"schema":{"type":"string","enum":["default","rag"],"default":"default"},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"}],"responses":{"200":{"description":"List of all papers","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"partId":{"type":"string"},"title":{"type":"string"},"sortId":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"video":{"type":["object","null"],"additionalProperties":{"type":"object","properties":{"mp4":{"type":"string"},"thumbnail":{"type":"string"},"duration":{"type":"number"}},"required":["mp4","thumbnail","duration"]}},"topEntities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"count":{"type":"integer","minimum":0}},"required":["id","name","type","count"]}}},"required":["id","partId","title","sortId","labels","video"]}}},"required":["data"]},"example":{"data":[{"id":"0","partId":"0","title":"Foreword","sortId":"0.000.000.000","labels":["Theology","Cosmology"],"video":{"nova":{"mp4":"https://video.urantiahub.com/tts-1-hd-nova-0.mp4","thumbnail":"https://video.urantiahub.com/thumbnail-0.png","duration":3262}}},{"id":"1","partId":"1","title":"The Universal Father","sortId":"1.001.000.000","labels":["Spirituality","Theology"],"video":{"nova":{"mp4":"https://video.urantiahub.com/tts-1-hd-nova-1.mp4","thumbnail":"https://video.urantiahub.com/thumbnail-1.png","duration":2336}}}]}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/papers/{id}":{"get":{"operationId":"getPaper","tags":["Papers"],"summary":"Get a paper with all its paragraphs","description":"Returns a single paper's metadata along with all its paragraphs in order. Paper IDs range from 0 (Foreword) to 196.\n\nUse `?include=entities` to include typed entity mentions in each paragraph.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":"string"},"required":false,"name":"include","in":"query"},{"schema":{"type":"string","enum":["default","rag"],"default":"default"},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"}],"responses":{"200":{"description":"Paper with paragraphs","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"paper":{"type":"object","properties":{"id":{"type":"string"},"partId":{"type":"string"},"title":{"type":"string"},"sortId":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"video":{"type":["object","null"],"additionalProperties":{"type":"object","properties":{"mp4":{"type":"string"},"thumbnail":{"type":"string"},"duration":{"type":"number"}},"required":["mp4","thumbnail","duration"]}},"topEntities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string"},"count":{"type":"integer","minimum":0}},"required":["id","name","type","count"]}}},"required":["id","partId","title","sortId","labels","video"]},"paragraphs":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]}}},"required":["paper","paragraphs"]}},"required":["data"]},"example":{"data":{"paper":{"id":"2","partId":"1","title":"The Nature of God","sortId":"1.002.000.000","labels":["Spirituality","Theology"],"video":{"nova":{"mp4":"https://video.urantiahub.com/tts-1-hd-nova-2.mp4","thumbnail":"https://video.urantiahub.com/thumbnail-2.png","duration":2324}}},"paragraphs":[{"id":"1:2.0.1","standardReferenceId":"2:0.1","sortId":"1.002.000.001","paperId":"2","sectionId":"0","partId":"1","paperTitle":"The Nature of God","sectionTitle":null,"paragraphId":"1","text":"INASMUCH as man’s highest possible concept of God is embraced within the human idea and ideal of a primal and infinite personality, it is permissible, and may prove helpful, to study certain characteristics of the divine nature which constitute the character of Deity. The nature of God can best be understood by the revelation of the Father which Michael of Nebadon unfolded in his manifold teachings and in his superb mortal life in the flesh. The divine nature can also be better understood by man if he regards himself as a child of God and looks up to the Paradise Creator as a true spiritual Father.","htmlText":"<span class=\"urantia-dev-pb-0\">INASMUCH as man’s highest possible concept of God is embraced within the human idea and ideal of a primal and infinite personality, it is permissible, and may prove helpful, to study certain characteristics of the divine nature which constitute the character of Deity. The nature of God can best be understood by the revelation of the Father which Michael of Nebadon unfolded in his manifold teachings and in his superb mortal life in the flesh. The divine nature can also be better understood by man if he regards himself as a child of God and looks up to the Paradise Creator as a true spiritual Father.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.0.1.mp3","format":"mp3","bitrate":160,"duration":38.1,"fileSize":762240},"onyx":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.0.1.mp3","format":"mp3","bitrate":160,"duration":37.9,"fileSize":757440}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.0.1.mp3","format":"mp3","bitrate":192,"duration":38.8,"fileSize":931674}}}},{"id":"1:2.0.2","standardReferenceId":"2:0.2","sortId":"1.002.000.002","paperId":"2","sectionId":"0","partId":"1","paperTitle":"The Nature of God","sectionTitle":null,"paragraphId":"2","text":"The nature of God can be studied in a revelation of supreme ideas, the divine character can be envisaged as a portrayal of supernal ideals, but the most enlightening and spiritually edifying of all revelations of the divine nature is to be found in the comprehension of the religious life of Jesus of Nazareth, both before and after his attainment of full consciousness of divinity. If the incarnated life of Michael is taken as the background of the revelation of God to man, we may attempt to put in human word symbols certain ideas and ideals concerning the divine nature which may possibly contribute to a further illumination and unification of the human concept of the nature and the character of the personality of the Universal Father.","htmlText":"<span class=\"urantia-dev-pb-0\">The nature of God can be studied in a revelation of supreme ideas, the divine character can be envisaged as a portrayal of supernal ideals, but the most enlightening and spiritually edifying of all revelations of the divine nature is to be found in the comprehension of the religious life of Jesus of Nazareth, both before and after his attainment of full consciousness of divinity. If the incarnated life of Michael is taken as the background of the revelation of God to man, we may attempt to put in human word symbols certain ideas and ideals concerning the divine nature which may possibly contribute to a further illumination and unification of the human concept of the nature and the character of the personality of the Universal Father.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.0.2.mp3","format":"mp3","bitrate":160,"duration":45.9,"fileSize":918240},"onyx":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.0.2.mp3","format":"mp3","bitrate":160,"duration":46.2,"fileSize":924480}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.0.2.mp3","format":"mp3","bitrate":192,"duration":45,"fileSize":1080258}}}}]}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"404":{"description":"Paper not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/papers/{id}/sections":{"get":{"operationId":"getPaperSections","tags":["Papers"],"summary":"Get sections within a paper","description":"Returns all sections for a given paper, ordered by section number.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"List of sections","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":"string"},"title":{"type":["string","null"]},"globalId":{"type":"string"},"sortId":{"type":"string"}},"required":["id","paperId","sectionId","title","globalId","sortId"]}}},"required":["data"]},"example":{"data":[{"id":"2.0","paperId":"2","sectionId":"0","title":null,"globalId":"1:2.0.-","sortId":"1.002.000.000"},{"id":"2.1","paperId":"2","sectionId":"1","title":"The Infinity of God","globalId":"1:2.1.-","sortId":"1.002.001.000"}]}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"404":{"description":"Paper not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/paragraphs/random":{"get":{"operationId":"getRandomParagraph","tags":["Paragraphs"],"summary":"Get a random paragraph","description":"Returns a single random paragraph from the Urantia Book. Useful for daily quotes or exploration.\n\nResponse includes a `navigation` envelope with the previous and next paragraph refs (within the same paper, ordered by sortId). Refs are `null` at paper boundaries.\n\nUse `?include=entities` to include typed entity mentions in the response.\n\nUse `?minLength=N` and/or `?maxLength=N` to filter by character count of the paragraph text.","parameters":[{"schema":{"type":"string"},"required":false,"name":"include","in":"query"},{"schema":{"type":"string","enum":["default","rag"],"default":"default"},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"},{"schema":{"type":"integer","minimum":1},"required":false,"name":"minLength","in":"query"},{"schema":{"type":"integer","minimum":1},"required":false,"name":"maxLength","in":"query"}],"responses":{"200":{"description":"A random paragraph","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]},"navigation":{"type":"object","properties":{"prev":{"type":["string","null"]},"next":{"type":["string","null"]}},"required":["prev","next"]}},"required":["data"]},"example":{"data":{"id":"2:44.3.4","standardReferenceId":"44:3.4","sortId":"2.044.003.004","paperId":"44","sectionId":"3","partId":"2","paperTitle":"The Celestial Artisans","sectionTitle":"The Divine Builders","paragraphId":"4","text":"3. The play builders. Enormous edifices are utilized during the seasons of rest, what mortals would call recreation and, in a certain sense, play. Provision is made for a suitable setting for the reversion directors, the humorists of the morontia worlds, those transition spheres whereon takes place the training of ascendant beings but recently removed from the evolutionary planets. Even the higher spirits engage in a certain form of reminiscent humor during their periods of spiritual recharging.","htmlText":"<span class=\"urantia-dev-pb-4\">3. <em>The play builders.</em> Enormous edifices are utilized during the seasons of rest, what mortals would call recreation and, in a certain sense, play. Provision is made for a suitable setting for the reversion directors, the humorists of the morontia worlds, those transition spheres whereon takes place the training of ascendant beings but recently removed from the evolutionary planets. Even the higher spirits engage in a certain form of reminiscent humor during their periods of spiritual recharging.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-2:44.3.4.mp3","format":"mp3","bitrate":160,"duration":31.8,"fileSize":636000}}}},"navigation":{"prev":"44:3.3","next":"44:3.5"}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid filter criteria","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/paragraphs/{ref}":{"get":{"operationId":"getParagraph","tags":["Paragraphs"],"summary":"Get a paragraph by reference","description":"Look up a paragraph using any of three ID formats:\n- **globalId**: \"1:2.0.1\" (partId:paperId.sectionId.paragraphId)\n- **standardReferenceId**: \"2:0.1\" (paperId:sectionId.paragraphId)\n- **paperSectionParagraphId**: \"2.0.1\" (paperId.sectionId.paragraphId)\n\nThe format is auto-detected from the reference string.\n\nResponse includes a `navigation` envelope with the previous and next paragraph refs (within the same paper, ordered by sortId). Refs are `null` at paper boundaries.\n\nUse `?include=entities` to include typed entity mentions in the response.","parameters":[{"schema":{"type":"string"},"required":true,"name":"ref","in":"path","example":"2:5.1"},{"schema":{"type":"string"},"required":false,"name":"include","in":"query"},{"schema":{"type":"string","enum":["default","rag"],"default":"default"},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"}],"responses":{"200":{"description":"The paragraph","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]},"navigation":{"type":"object","properties":{"prev":{"type":["string","null"]},"next":{"type":["string","null"]}},"required":["prev","next"]}},"required":["data"]},"example":{"data":{"id":"1:2.5.1","standardReferenceId":"2:5.1","sortId":"1.002.005.001","paperId":"2","sectionId":"5","partId":"1","paperTitle":"The Nature of God","sectionTitle":"The Love of God","paragraphId":"1","text":"“God is love”; therefore his only personal attitude towards the affairs of the universe is always a reaction of divine affection. The Father loves us sufficiently to bestow his life upon us. “He makes his sun to rise on the evil and on the good and sends rain on the just and on the unjust.”","htmlText":"<span class=\"urantia-dev-pb-4\">“God is love”; therefore his only personal attitude towards the affairs of the universe is always a reaction of divine affection. The Father loves us sufficiently to bestow his life upon us. “He makes his sun to rise on the evil and on the good and sends rain on the just and on the unjust.”</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.5.1.mp3","format":"mp3","bitrate":160,"duration":18,"fileSize":360960},"onyx":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.5.1.mp3","format":"mp3","bitrate":160,"duration":18.4,"fileSize":367680}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.5.1.mp3","format":"mp3","bitrate":192,"duration":18.1,"fileSize":434511}}}},"navigation":{"prev":"2:4.5","next":"2:5.2"}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid reference format","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"404":{"description":"Paragraph not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/paragraphs/{ref}/context":{"get":{"operationId":"getParagraphContext","tags":["Paragraphs"],"summary":"Get a paragraph with surrounding context","description":"Returns the target paragraph along with N paragraphs before and after it (ordered by sort_id).\nUseful for AI agents doing RAG that need surrounding context for better understanding.\nThe `window` query parameter controls how many paragraphs before/after to include (default: 2, max: 10).\n\nUse `?include=entities` to include typed entity mentions in the response.","parameters":[{"schema":{"type":"string"},"required":true,"name":"ref","in":"path","example":"2:5.1"},{"schema":{"type":"integer","minimum":1,"maximum":10,"default":2},"required":false,"name":"window","in":"query"},{"schema":{"type":"string"},"required":false,"name":"include","in":"query"},{"schema":{"type":"string","enum":["default","rag"],"default":"default"},"required":false,"name":"format","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"}],"responses":{"200":{"description":"Paragraph with context","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"target":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]},"before":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]}},"after":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]}}},"required":["target","before","after"]}},"required":["data"]},"example":{"data":{"target":{"id":"1:2.5.10","standardReferenceId":"2:5.10","sortId":"1.002.005.010","paperId":"2","sectionId":"5","partId":"1","paperTitle":"The Nature of God","sectionTitle":"The Love of God","paragraphId":"10","text":"But the love of God is an intelligent and farseeing parental affection. The divine love functions in unified association with divine wisdom and all other infinite characteristics of the perfect nature of the Universal Father. God is love, but love is not God. The greatest manifestation of the divine love for mortal beings is observed in the bestowal of the Thought Adjusters, but your greatest revelation of the Father’s love is seen in the bestowal life of his Son Michael as he lived on earth the ideal spiritual life. It is the indwelling Adjuster who individualizes the love of God to each human soul.","htmlText":"<span class=\"urantia-dev-pb-4\">But the love of God is an intelligent and farseeing parental affection. The divine love functions in unified association with divine wisdom and all other infinite characteristics of the perfect nature of the Universal Father. God is love, but love is not God. The greatest manifestation of the divine love for mortal beings is observed in the bestowal of the Thought Adjusters, but your greatest revelation of the Father’s love is seen in the bestowal life of his Son Michael as he lived on earth the ideal spiritual life. It is the indwelling Adjuster who individualizes the love of God to each human soul.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.5.10.mp3","format":"mp3","bitrate":160,"duration":38.1,"fileSize":761760},"onyx":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.5.10.mp3","format":"mp3","bitrate":160,"duration":37.8,"fileSize":756480}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.5.10.mp3","format":"mp3","bitrate":192,"duration":36.4,"fileSize":873995}}}},"before":[{"id":"1:2.5.9","standardReferenceId":"2:5.9","sortId":"1.002.005.009","paperId":"2","sectionId":"5","partId":"1","paperTitle":"The Nature of God","sectionTitle":"The Love of God","paragraphId":"9","text":"The Father’s love follows us now and throughout the endless circle of the eternal ages. As you ponder the loving nature of God, there is only one reasonable and natural personality reaction thereto: You will increasingly love your Maker; you will yield to God an affection analogous to that given by a child to an earthly parent; for, as a father, a real father, a true father, loves his children, so the Universal Father loves and forever seeks the welfare of his created sons and daughters.","htmlText":"<span class=\"urantia-dev-pb-0\">The Father’s love follows us now and throughout the endless circle of the eternal ages. As you ponder the loving nature of God, there is only one reasonable and natural personality reaction thereto: You will increasingly love your Maker; you will yield to God an affection analogous to that given by a child to an earthly parent; for, as a father, a real father, a true father, loves his children, so the Universal Father loves and forever seeks the welfare of his created sons and daughters.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.5.9.mp3","format":"mp3","bitrate":160,"duration":30.5,"fileSize":609600},"onyx":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.5.9.mp3","format":"mp3","bitrate":160,"duration":30.7,"fileSize":613440}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.5.9.mp3","format":"mp3","bitrate":192,"duration":32.4,"fileSize":779328}}}}],"after":[{"id":"1:2.5.11","standardReferenceId":"2:5.11","sortId":"1.002.005.011","paperId":"2","sectionId":"5","partId":"1","paperTitle":"The Nature of God","sectionTitle":"The Love of God","paragraphId":"11","text":"At times I am almost pained to be compelled to portray the divine affection of the heavenly Father for his universe children by the employment of the human word symbol love. This term, even though it does connote man’s highest concept of the mortal relations of respect and devotion, is so frequently designative of so much of human relationship that is wholly ignoble and utterly unfit to be known by any word which is also used to indicate the matchless affection of the living God for his universe creatures! How unfortunate that I cannot make use of some supernal and exclusive term which would convey to the mind of man the true nature and exquisitely beautiful significance of the divine affection of the Paradise Father.","htmlText":"<span class=\"urantia-dev-pb-4\">At times I am almost pained to be compelled to portray the divine affection of the heavenly Father for his universe children by the employment of the human word symbol <em>love.</em> This term, even though it does connote man’s highest concept of the mortal relations of respect and devotion, is so frequently designative of so much of human relationship that is wholly ignoble and utterly unfit to be known by any word which is also used to indicate the matchless affection of the living God for his universe creatures! How unfortunate that I cannot make use of some supernal and exclusive term which would convey to the mind of man the true nature and exquisitely beautiful significance of the divine affection of the Paradise Father.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:2.5.11.mp3","format":"mp3","bitrate":160,"duration":45.9,"fileSize":918240},"onyx":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/onyx/tts-1-hd-onyx-1:2.5.11.mp3","format":"mp3","bitrate":160,"duration":45.6,"fileSize":912480}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:2.5.11.mp3","format":"mp3","bitrate":192,"duration":42.7,"fileSize":1025088}}}}]}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid reference format","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"404":{"description":"Paragraph not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/search":{"post":{"operationId":"search","tags":["Search"],"summary":"Full-text search across all paragraphs","description":"Search the Urantia Papers using full-text search. Supports three search modes:\n- **and**: All words must appear (default)\n- **or**: Any word can appear\n- **phrase**: Exact phrase match\n\nResults are ranked by relevance. Optional filters: paperId, partId.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"q":{"type":"string","minLength":1,"maxLength":500},"page":{"type":"integer","minimum":0,"default":0},"limit":{"type":"integer","minimum":1,"maximum":100,"default":20},"paperId":{"type":"string"},"partId":{"type":"string"},"type":{"type":"string","enum":["phrase","and","or"],"default":"and"},"include":{"type":"string"}},"required":["q"]},"example":{"q":"Thought Adjuster","limit":2}}}},"responses":{"200":{"description":"Search results with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}},"rank":{"type":"number"}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio","rank"]}},"meta":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}},"required":["page","limit","total","totalPages"]}},"required":["data","meta"]},"example":{"data":[{"id":"1:16.8.3","standardReferenceId":"16:8.3","sortId":"1.016.008.003","paperId":"16","sectionId":"8","partId":"1","paperTitle":"The Seven Master Spirits","sectionTitle":"Urantia Personality","paragraphId":"3","text":"Personality is a unique endowment of original nature whose existence is independent of, and antecedent to, the bestowal of the Thought Adjuster. Nevertheless, the presence of the Adjuster does augment the qualitative manifestation of personality. Thought Adjusters, when they come forth from the Father, are identical in nature, but personality is diverse, original, and exclusive; and the manifestation of personality is further conditioned and qualified by the nature and qualities of the associated energies of a material, mindal, and spiritual nature which constitute the organismal vehicle for personality manifestation.","htmlText":"<span class=\"urantia-dev-pb-0\">Personality is a unique endowment of original nature whose existence is independent of, and antecedent to, the bestowal of the <span class=urantia-dev-highlighted>Thought</span> <span class=urantia-dev-highlighted>Adjuster</span>. Nevertheless, the presence of the <span class=urantia-dev-highlighted>Adjuster</span> does augment the qualitative manifestation of personality. <span class=urantia-dev-highlighted>Thought</span> <span class=urantia-dev-highlighted>Adjusters</span>, when they come forth from the Father, are identical in nature, but personality is diverse, original, and exclusive; and the manifestation of personality is further conditioned and qualified by the nature and qualities of the associated energies of a material, mindal, and spiritual nature which constitute the organismal vehicle for personality manifestation.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:16.8.3.mp3","format":"mp3","bitrate":160,"duration":38,"fileSize":759840}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:16.8.3.mp3","format":"mp3","bitrate":192,"duration":39.9,"fileSize":959259}}},"rank":0.310552},{"id":"3:108.5.5","standardReferenceId":"108:5.5","sortId":"3.108.005.005","paperId":"108","sectionId":"5","partId":"3","paperTitle":"Mission and Ministry of Thought Adjusters","sectionTitle":"The Adjuster’s Mission","paragraphId":"5","text":"The Mystery Monitors are not thought helpers; they are thought adjusters. They labor with the material mind for the purpose of constructing, by adjustment and spiritualization, a new mind for the new worlds and the new name of your future career. Their mission chiefly concerns the future life, not this life. They are called heavenly helpers, not earthly helpers. They are not interested in making the mortal career easy; rather are they concerned in making your life reasonably difficult and rugged, so that decisions will be stimulated and multiplied. The presence of a great Thought Adjuster does not bestow ease of living and freedom from strenuous thinking, but such a divine gift should confer a sublime peace of mind and a superb tranquillity of spirit.","htmlText":"<span class=\"urantia-dev-pb-0\">The Mystery Monitors are not <span class=urantia-dev-highlighted>thought</span> helpers; they are <span class=urantia-dev-highlighted>thought</span> <span class=urantia-dev-highlighted>adjusters</span>. They labor with the material mind for the purpose of constructing, by <span class=urantia-dev-highlighted>adjustment</span> and spiritualization, a new mind for the new worlds and the new name of your future career. Their mission chiefly concerns the future life, not this life. They are called heavenly helpers, not earthly helpers. They are not interested in making the mortal career easy; rather are they concerned in making your life reasonably difficult and rugged, so that decisions will be stimulated and multiplied. The presence of a great <span class=urantia-dev-highlighted>Thought</span> <span class=urantia-dev-highlighted>Adjuster</span> does not bestow ease of living and freedom from strenuous thinking, but such a divine gift should confer a sublime peace of mind and a superb tranquillity of spirit.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-3:108.5.5.mp3","format":"mp3","bitrate":160,"duration":47.4,"fileSize":948000}}},"rank":0.27321}],"meta":{"page":0,"limit":2,"total":244,"totalPages":122}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid search query","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}},"get":{"operationId":"searchGet","tags":["Search"],"summary":"Full-text search across all paragraphs (GET)","description":"Search the Urantia Papers using full-text search. Supports three search modes:\n- **and**: All words must appear (default)\n- **or**: Any word can appear\n- **phrase**: Exact phrase match\n\nResults are ranked by relevance. Optional filters: paperId, partId.\n\nAccepts query parameters instead of a JSON body. Designed for AI agents and browser-based access.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":500},"required":true,"name":"q","in":"query"},{"schema":{"type":["integer","null"],"minimum":0,"default":0},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"paperId","in":"query","example":"2"},{"schema":{"type":"string"},"required":false,"name":"partId","in":"query"},{"schema":{"type":"string","enum":["phrase","and","or"],"default":"and"},"required":false,"name":"type","in":"query"},{"schema":{"type":"string"},"required":false,"name":"include","in":"query"}],"responses":{"200":{"description":"Search results with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}},"rank":{"type":"number"}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio","rank"]}},"meta":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}},"required":["page","limit","total","totalPages"]}},"required":["data","meta"]},"example":{"data":[{"id":"1:16.8.3","standardReferenceId":"16:8.3","sortId":"1.016.008.003","paperId":"16","sectionId":"8","partId":"1","paperTitle":"The Seven Master Spirits","sectionTitle":"Urantia Personality","paragraphId":"3","text":"Personality is a unique endowment of original nature whose existence is independent of, and antecedent to, the bestowal of the Thought Adjuster. Nevertheless, the presence of the Adjuster does augment the qualitative manifestation of personality. Thought Adjusters, when they come forth from the Father, are identical in nature, but personality is diverse, original, and exclusive; and the manifestation of personality is further conditioned and qualified by the nature and qualities of the associated energies of a material, mindal, and spiritual nature which constitute the organismal vehicle for personality manifestation.","htmlText":"<span class=\"urantia-dev-pb-0\">Personality is a unique endowment of original nature whose existence is independent of, and antecedent to, the bestowal of the <span class=urantia-dev-highlighted>Thought</span> <span class=urantia-dev-highlighted>Adjuster</span>. Nevertheless, the presence of the <span class=urantia-dev-highlighted>Adjuster</span> does augment the qualitative manifestation of personality. <span class=urantia-dev-highlighted>Thought</span> <span class=urantia-dev-highlighted>Adjusters</span>, when they come forth from the Father, are identical in nature, but personality is diverse, original, and exclusive; and the manifestation of personality is further conditioned and qualified by the nature and qualities of the associated energies of a material, mindal, and spiritual nature which constitute the organismal vehicle for personality manifestation.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-1:16.8.3.mp3","format":"mp3","bitrate":160,"duration":38,"fileSize":759840}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-1:16.8.3.mp3","format":"mp3","bitrate":192,"duration":39.9,"fileSize":959259}}},"rank":0.310552},{"id":"3:108.5.5","standardReferenceId":"108:5.5","sortId":"3.108.005.005","paperId":"108","sectionId":"5","partId":"3","paperTitle":"Mission and Ministry of Thought Adjusters","sectionTitle":"The Adjuster’s Mission","paragraphId":"5","text":"The Mystery Monitors are not thought helpers; they are thought adjusters. They labor with the material mind for the purpose of constructing, by adjustment and spiritualization, a new mind for the new worlds and the new name of your future career. Their mission chiefly concerns the future life, not this life. They are called heavenly helpers, not earthly helpers. They are not interested in making the mortal career easy; rather are they concerned in making your life reasonably difficult and rugged, so that decisions will be stimulated and multiplied. The presence of a great Thought Adjuster does not bestow ease of living and freedom from strenuous thinking, but such a divine gift should confer a sublime peace of mind and a superb tranquillity of spirit.","htmlText":"<span class=\"urantia-dev-pb-0\">The Mystery Monitors are not <span class=urantia-dev-highlighted>thought</span> helpers; they are <span class=urantia-dev-highlighted>thought</span> <span class=urantia-dev-highlighted>adjusters</span>. They labor with the material mind for the purpose of constructing, by <span class=urantia-dev-highlighted>adjustment</span> and spiritualization, a new mind for the new worlds and the new name of your future career. Their mission chiefly concerns the future life, not this life. They are called heavenly helpers, not earthly helpers. They are not interested in making the mortal career easy; rather are they concerned in making your life reasonably difficult and rugged, so that decisions will be stimulated and multiplied. The presence of a great <span class=urantia-dev-highlighted>Thought</span> <span class=urantia-dev-highlighted>Adjuster</span> does not bestow ease of living and freedom from strenuous thinking, but such a divine gift should confer a sublime peace of mind and a superb tranquillity of spirit.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-3:108.5.5.mp3","format":"mp3","bitrate":160,"duration":47.4,"fileSize":948000}}},"rank":0.27321}],"meta":{"page":0,"limit":2,"total":244,"totalPages":122}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid search query","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/search/semantic":{"post":{"operationId":"semanticSearch","tags":["Search"],"summary":"Semantic similarity search across all paragraphs","description":"Search the Urantia Papers using semantic similarity (vector embeddings).\nReturns conceptually related results even without exact keyword matches.\nOptional filters: paperId, partId.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"q":{"type":"string","minLength":1,"maxLength":2000},"page":{"type":"integer","minimum":0,"default":0},"limit":{"type":"integer","minimum":1,"maximum":100,"default":20},"paperId":{"type":"string"},"partId":{"type":"string"},"include":{"type":"string"}},"required":["q"]},"example":{"q":"what happens after death","limit":2}}}},"responses":{"200":{"description":"Semantic search results with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}},"similarity":{"type":"number"}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio","similarity"]}},"meta":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}},"required":["page","limit","total","totalPages"]}},"required":["data","meta"]},"example":{"data":[{"id":"3:112.4.3","standardReferenceId":"112:4.3","sortId":"3.112.004.003","paperId":"112","sectionId":"4","partId":"3","paperTitle":"Personality Survival","sectionTitle":"Adjusters After Death","paragraphId":"3","text":"Subsequent to physical death, except in individuals translated from among the living, the released Adjuster goes immediately to the home sphere of Divinington. The details of what transpires on that world during the time of awaiting the factual reappearance of the surviving mortal depend chiefly on whether the human being ascends to the mansion worlds in his own individual right or awaits a dispensational summoning of the sleeping survivors of a planetary age.","htmlText":"<span class=\"urantia-dev-pb-0\">Subsequent to physical death, except in individuals translated from among the living, the released Adjuster goes immediately to the home sphere of Divinington. The details of what transpires on that world during the time of awaiting the factual reappearance of the surviving mortal depend chiefly on whether the human being ascends to the mansion worlds in his own individual right or awaits a dispensational summoning of the sleeping survivors of a planetary age.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-3:112.4.3.mp3","format":"mp3","bitrate":160,"duration":29,"fileSize":579360}}},"similarity":0.553150798189724},{"id":"3:112.3.4","standardReferenceId":"112:3.4","sortId":"3.112.003.004","paperId":"112","sectionId":"3","partId":"3","paperTitle":"Personality Survival","sectionTitle":"The Phenomenon of Death","paragraphId":"4","text":"3. Physical (body and mind) death. When death overtakes a human being, the Adjuster remains in the citadel of the mind until it ceases to function as an intelligent mechanism, about the time that the measurable brain energies cease their rhythmic vital pulsations. Following this dissolution the Adjuster takes leave of the vanishing mind, just as unceremoniously as entry was made years before, and proceeds to Divinington by way of Uversa.","htmlText":"<span class=\"urantia-dev-pb-2\">3. <em>Physical (body and mind) death.</em> When death overtakes a human being, the Adjuster remains in the citadel of the mind until it ceases to function as an intelligent mechanism, about the time that the measurable brain energies cease their rhythmic vital pulsations. Following this dissolution the Adjuster takes leave of the vanishing mind, just as unceremoniously as entry was made years before, and proceeds to Divinington by way of Uversa.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-3:112.3.4.mp3","format":"mp3","bitrate":160,"duration":27.4,"fileSize":547680}}},"similarity":0.526940972060405}],"meta":{"page":0,"limit":2,"total":14593,"totalPages":7297}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid search query","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}},"get":{"operationId":"semanticSearchGet","tags":["Search"],"summary":"Semantic similarity search across all paragraphs (GET)","description":"Search the Urantia Papers using semantic similarity (vector embeddings).\nReturns conceptually related results even without exact keyword matches.\nOptional filters: paperId, partId.\n\nAccepts query parameters instead of a JSON body. Designed for AI agents and browser-based access.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":2000},"required":true,"name":"q","in":"query"},{"schema":{"type":["integer","null"],"minimum":0,"default":0},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string"},"required":false,"name":"paperId","in":"query","example":"2"},{"schema":{"type":"string"},"required":false,"name":"partId","in":"query"},{"schema":{"type":"string"},"required":false,"name":"include","in":"query"}],"responses":{"200":{"description":"Semantic search results with pagination","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}},"similarity":{"type":"number"}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio","similarity"]}},"meta":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}},"required":["page","limit","total","totalPages"]}},"required":["data","meta"]},"example":{"data":[{"id":"3:112.4.3","standardReferenceId":"112:4.3","sortId":"3.112.004.003","paperId":"112","sectionId":"4","partId":"3","paperTitle":"Personality Survival","sectionTitle":"Adjusters After Death","paragraphId":"3","text":"Subsequent to physical death, except in individuals translated from among the living, the released Adjuster goes immediately to the home sphere of Divinington. The details of what transpires on that world during the time of awaiting the factual reappearance of the surviving mortal depend chiefly on whether the human being ascends to the mansion worlds in his own individual right or awaits a dispensational summoning of the sleeping survivors of a planetary age.","htmlText":"<span class=\"urantia-dev-pb-0\">Subsequent to physical death, except in individuals translated from among the living, the released Adjuster goes immediately to the home sphere of Divinington. The details of what transpires on that world during the time of awaiting the factual reappearance of the surviving mortal depend chiefly on whether the human being ascends to the mansion worlds in his own individual right or awaits a dispensational summoning of the sleeping survivors of a planetary age.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-3:112.4.3.mp3","format":"mp3","bitrate":160,"duration":29,"fileSize":579360}}},"similarity":0.553150798189724},{"id":"3:112.3.4","standardReferenceId":"112:3.4","sortId":"3.112.003.004","paperId":"112","sectionId":"3","partId":"3","paperTitle":"Personality Survival","sectionTitle":"The Phenomenon of Death","paragraphId":"4","text":"3. Physical (body and mind) death. When death overtakes a human being, the Adjuster remains in the citadel of the mind until it ceases to function as an intelligent mechanism, about the time that the measurable brain energies cease their rhythmic vital pulsations. Following this dissolution the Adjuster takes leave of the vanishing mind, just as unceremoniously as entry was made years before, and proceeds to Divinington by way of Uversa.","htmlText":"<span class=\"urantia-dev-pb-2\">3. <em>Physical (body and mind) death.</em> When death overtakes a human being, the Adjuster remains in the citadel of the mind until it ceases to function as an intelligent mechanism, about the time that the measurable brain energies cease their rhythmic vital pulsations. Following this dissolution the Adjuster takes leave of the vanishing mind, just as unceremoniously as entry was made years before, and proceeds to Divinington by way of Uversa.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-3:112.3.4.mp3","format":"mp3","bitrate":160,"duration":27.4,"fileSize":547680}}},"similarity":0.526940972060405}],"meta":{"page":0,"limit":2,"total":14593,"totalPages":7297}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"400":{"description":"Invalid search query","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/entities":{"get":{"operationId":"listEntities","tags":["Entities"],"summary":"List entities","description":"Browse the entity catalog (beings, places, orders, races, religions, concepts). Supports filtering by type and searching by name.","parameters":[{"schema":{"type":["integer","null"],"minimum":0,"default":0},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["being","place","order","race","religion","concept"]},"required":false,"name":"type","in":"query"},{"schema":{"type":"string","maxLength":200},"required":false,"name":"q","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"}],"responses":{"200":{"description":"Paginated list of entities","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]},"aliases":{"type":["array","null"],"items":{"type":"string"}},"description":{"type":["string","null"]},"seeAlso":{"type":["array","null"],"items":{"type":"string"},"description":"Related entry names. An entity with citationCount 0 is a cross-reference stub: follow seeAlso to the entry that has the paragraphs."},"citationCount":{"type":"integer","description":"Number of citations in the source index. A citation of a whole section counts once, so the entity's paragraph total can be higher."},"language":{"type":"string"}},"required":["id","name","type","aliases","description","seeAlso","citationCount"]}},"meta":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}},"required":["page","limit","total","totalPages"]}},"required":["data","meta"]},"example":{"data":[{"id":"father-melchizedek","name":"Father Melchizedek","type":"being","aliases":null,"description":"The original and firstborn Melchizedek Son of Nebadon, created through the union of the Creator Son and Creative Spirit, who serves as Gabriel's executive associate and assumes his responsibilities during his absence from Salvington.","seeAlso":["Melchizedek Sons"],"citationCount":13},{"id":"machiventa-melchizedek","name":"Machiventa Melchizedek","type":"being","aliases":["Machiventa Melchizedek","Melchizedek"],"description":"A Melchizedek Son who incarnated as an emergency bestowal on Urantia in 1973 B.C., appearing at Salem to preserve the truth of one God and prepare the way for Michael's later bestowal. Known as the Prince of Salem, he taught Abraham and established a covenant based on faith rather than sacrifice, departing after 94 years when his followers began to regard him as supernatural. He now serves as vicegerent Planetary Prince of Urantia.","seeAlso":["Melchizedek Sons","missionaries:Salem missionaries"],"citationCount":55}],"meta":{"page":0,"limit":2,"total":14,"totalPages":7}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/entities/{id}":{"get":{"operationId":"getEntity","tags":["Entities"],"summary":"Get an entity by ID","description":"Returns a single entity by its slug ID.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"}],"responses":{"200":{"description":"The entity","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]},"aliases":{"type":["array","null"],"items":{"type":"string"}},"description":{"type":["string","null"]},"seeAlso":{"type":["array","null"],"items":{"type":"string"},"description":"Related entry names. An entity with citationCount 0 is a cross-reference stub: follow seeAlso to the entry that has the paragraphs."},"citationCount":{"type":"integer","description":"Number of citations in the source index. A citation of a whole section counts once, so the entity's paragraph total can be higher."},"language":{"type":"string"}},"required":["id","name","type","aliases","description","seeAlso","citationCount"]}},"required":["data"]},"example":{"data":{"id":"machiventa-melchizedek","name":"Machiventa Melchizedek","type":"being","aliases":["Machiventa Melchizedek","Melchizedek"],"description":"A Melchizedek Son who incarnated as an emergency bestowal on Urantia in 1973 B.C., appearing at Salem to preserve the truth of one God and prepare the way for Michael's later bestowal. Known as the Prince of Salem, he taught Abraham and established a covenant based on faith rather than sacrifice, departing after 94 years when his followers began to regard him as supernatural. He now serves as vicegerent Planetary Prince of Urantia.","seeAlso":["Melchizedek Sons","missionaries:Salem missionaries"],"citationCount":55}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"404":{"description":"Entity not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/entities/{id}/paragraphs":{"get":{"operationId":"getEntityParagraphs","tags":["Entities"],"summary":"Get paragraphs mentioning an entity","description":"Returns all paragraphs that mention a given entity, ordered by position in the text.","parameters":[{"schema":{"type":"string"},"required":true,"name":"id","in":"path"},{"schema":{"type":["integer","null"],"minimum":0,"default":0},"required":false,"name":"page","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":20},"required":false,"name":"limit","in":"query"},{"schema":{"type":"string","enum":["eng","es","fr","pt","de","ko"],"default":"eng"},"required":false,"name":"lang","in":"query"}],"responses":{"200":{"description":"Paginated paragraphs mentioning the entity","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"sortId":{"type":"string"},"paperId":{"type":"string"},"sectionId":{"type":["string","null"]},"partId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"paragraphId":{"type":"string"},"text":{"type":"string"},"htmlText":{"type":"string"},"language":{"type":"string"},"labels":{"type":["array","null"],"items":{"type":"string"}},"audio":{"type":["object","null"],"additionalProperties":{"type":"object","additionalProperties":{"type":"object","properties":{"format":{"type":"string"},"url":{"type":"string"},"duration":{"type":"number"},"bitrate":{"type":"number"},"fileSize":{"type":"number"}},"required":["format","url"]}}},"entities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"type":{"type":"string","enum":["being","place","order","race","religion","concept"]}},"required":["id","name","type"]}},"bibleParallels":{"type":"array","items":{"type":"object","properties":{"chunkId":{"type":"string"},"reference":{"type":"string"},"bookCode":{"type":"string"},"chapter":{"type":"integer"},"verseStart":{"type":"integer"},"verseEnd":{"type":"integer"},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["chunkId","reference","bookCode","chapter","verseStart","verseEnd","text","similarity","rank","source","embeddingModel"]}},"urantiaParallels":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"standardReferenceId":{"type":"string"},"paperId":{"type":"string"},"paperTitle":{"type":"string"},"sectionTitle":{"type":["string","null"]},"text":{"type":"string"},"similarity":{"type":"number"},"rank":{"type":"integer"},"source":{"type":"string"},"embeddingModel":{"type":"string"}},"required":["id","standardReferenceId","paperId","paperTitle","sectionTitle","text","similarity","rank","source","embeddingModel"]}}},"required":["id","standardReferenceId","sortId","paperId","sectionId","partId","paperTitle","sectionTitle","paragraphId","text","htmlText","labels","audio"]}},"meta":{"type":"object","properties":{"page":{"type":"integer"},"limit":{"type":"integer"},"total":{"type":"integer"},"totalPages":{"type":"integer"}},"required":["page","limit","total","totalPages"]}},"required":["data","meta"]},"example":{"data":[{"id":"2:35.4.5","standardReferenceId":"35:4.5","sortId":"2.035.004.005","paperId":"35","sectionId":"4","partId":"2","paperTitle":"The Local Universe Sons of God","sectionTitle":"Special Work of the Melchizedeks","paragraphId":"5","text":"The Melchizedek who lived on Urantia during the time of Abraham was locally known as Prince of Salem because he presided over a small colony of truth seekers residing at a place called Salem. He volunteered to incarnate in the likeness of mortal flesh and did so with the approval of the Melchizedek receivers of the planet, who feared that the light of life would become extinguished during that period of increasing spiritual darkness. And he did foster the truth of his day and safely pass it on to Abraham and his associates.","htmlText":"<span class=\"urantia-dev-pb-0\">The Melchizedek who lived on Urantia during the time of Abraham was locally known as Prince of Salem because he presided over a small colony of truth seekers residing at a place called Salem. He volunteered to incarnate in the likeness of mortal flesh and did so with the approval of the Melchizedek receivers of the planet, who feared that the light of life would become extinguished during that period of increasing spiritual darkness. And he did foster the truth of his day and safely pass it on to Abraham and his associates.</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-2:35.4.5.mp3","format":"mp3","bitrate":160,"duration":33.3,"fileSize":666240}},"gpt-4o-mini-tts":{"cedar":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/cedar/gpt-4o-mini-tts-cedar-2:35.4.5.mp3","format":"mp3","bitrate":192,"duration":32.5,"fileSize":781835}}}},{"id":"2:43.5.17","standardReferenceId":"43:5.17","sortId":"2.043.005.017","paperId":"43","sectionId":"5","partId":"2","paperTitle":"The Constellations","sectionTitle":"The Edentia Fathers since the Lucifer Rebellion","paragraphId":"17","text":"Every quarantined or isolated world has a Vorondadek Son acting as an observer. He does not participate in planetary administration except when ordered by the Constellation Father to intervene in the affairs of the nations. Actually it is this Most High observer who “rules in the kingdoms of men.” Urantia is one of the isolated worlds of Norlatiadek, and a Vorondadek observer has been stationed on the planet ever since the Caligastia betrayal. When Machiventa Melchizedek ministered in semimaterial form on Urantia, he paid respectful homage to the Most High observer then on duty, as it is written, “And Melchizedek, king of Salem, was the priest of the Most High.” Melchizedek revealed the relations of this Most High observer to Abraham when he said, “And blessed be the Most High, who has delivered your enemies into your hand.”","htmlText":"<span class=\"urantia-dev-pb-0\">Every quarantined or isolated world has a Vorondadek Son acting as an observer. He does not participate in planetary administration except when ordered by the Constellation Father to intervene in the affairs of the nations. Actually it is this Most High observer who “rules in the kingdoms of men.” Urantia is one of the isolated worlds of Norlatiadek, and a Vorondadek observer has been stationed on the planet ever since the Caligastia betrayal. When Machiventa Melchizedek ministered in semimaterial form on Urantia, he paid respectful homage to the Most High observer then on duty, as it is written, “And Melchizedek, king of Salem, was the priest of the Most High.” Melchizedek revealed the relations of this Most High observer to Abraham when he said, “And blessed be the Most High, who has delivered your enemies into your hand.”</span>","labels":[],"audio":{"tts-1-hd":{"nova":{"url":"https://cdn.urantia.dev/audio/eng/paragraphs/nova/tts-1-hd-nova-2:43.5.17.mp3","format":"mp3","bitrate":160,"duration":52.1,"fileSize":1042560}}}}],"meta":{"page":0,"limit":2,"total":67,"totalPages":34}}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"404":{"description":"Entity not found","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}},"429":{"description":"Too many requests","headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}},"content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}}},"500":{"description":"Internal server error","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/ProblemDetails"}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset":{"$ref":"#/components/headers/X-RateLimit-Reset"}}}}}},"/languages":{"get":{"operationId":"listLanguages","tags":["Languages"],"summary":"List available languages","description":"Returns available languages with translation progress (entity and paragraph counts).","responses":{"200":{"description":"Available languages with translation counts","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"entityCount":{"type":"integer"},"paragraphCount":{"type":"integer"}},"required":["code","name","entityCount","paragraphCount"]}}},"required":["data"]},"example":{"data":[{"code":"eng","name":"English","entityCount":0,"paragraphCount":0},{"code":"es","name":"Spanish","entityCount":4456,"paragraphCount":0}]}}},"headers":{"X-RateLimit-Limit":{"$ref":"#/components/headers/X-RateLimit-Limit"},"X-RateLimit-Remaining":{"$ref":"#/components/headers/X-RateLimit-Remaining"},"X-RateLimit-Reset
[...]
